@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #060606;
  border-radius: 14px;
  border: 2px solid #dc2626;
}

::-webkit-scrollbar-track {
  background-color: #fc8eac;
  border-radius: 5px;
}

@layer base {
  body {
    @apply p-0 m-0 tracking-wide bg-[#ecf0f3];
    @apply dark:bg-slate-800;
  }
  li {
    @apply cursor-pointer
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}