@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Quicksand', sans-serif;
}

@layer base {
  body {
    @apply p-0 m-0 tracking-wide bg-slate-50;
    @apply dark:bg-slate-800;
  }
  li {
    @apply cursor-pointer
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}